.button{
    background-color: orange;
    color: white;
}
.h1 .span{
    color: orange;
}
.body{
    background-color: lightgrey;
    margin-bottom: -150px;
}
.footer{
    background-color: white;
}

